{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">


            {{>participation-header}}



            <div class="container page__container">
                <form action="/publish-post-for-course-{{courseId}}">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="page-section">
                                <h4>Crear post</h4>
                                <p class="text-muted d-flex align-items-center mb-32pt mb-lg-48pt">
                                    <a href="/posts-{{courseId}}-for-theme--2" class="mr-3">Volver atrás</a>
                                </p>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="form-group m-0" role="group" aria-labelledby="label-topic">
                                            <div class="form-row align-items-center">
                                                <label id="label-title" for="title" class="col-md-3 col-form-label form-label">Título</label>
                                                <div class="col-md-9">
                                                    <input id="title" name="title" type="text" required="" placeholder="Escribe el título del post..." value="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                            <div class="form-row">
                                                <label id="label-question" for="content" class="col-md-3 col-form-label form-label">Contenido</label>
                                                <div class="col-md-9">
                                                    <textarea id="content" name="content" required="" placeholder="Escribe el contenido del post..." rows="4" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3" for="theme">Tema</label>
                                            <div class="col-sm-9">
                                                <select id="theme" name="themeId" required="" class="custom-select">
                                                    <option value="-1">Tema libre</option>
                                                    {{#themes}}
                                                    <option value="{{idTheme}}">{{nameTheme}}</option>
                                                    {{/themes}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-group-item justify-content-center d-flex">
                                        <input value="Estandar" name="type" type="submit" class="btn btn-info">
                                        {{#postToOutstand}}
                                        <input value="Destacado" name="type" type="submit" class="ml-5 btn btn-accent">
                                        {{/postToOutstand}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 page-nav">
                            <div data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true">
                                <div class="page-section pt-lg-112pt">
                                    <div class="nav page-nav__menu">
                                        <a href="javascript:void(0)" class="nav-link active">Antes de que publiques tu post</a>
                                    </div>
                                    <div class="page-nav__content">
                                        <p class="text-70">Quizás existan otros posts previos comentando lo mismo que tu.</p>
                                        <p class="text-70">Realiza una búsqueda rápida para asegurarte de que tu post es único.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>




            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>