{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="/user-profile" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/student/128/white.svg" width="75" alt="Tutorio">
                    </a>
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">{{user.name}}</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Alumno</p>
                    </div>
                    <a href="/students-area-link" class="btn btn-outline-white">Área de estudiantes</a>
                </div>
            </div>

            <div class="page-section bg-white border-bottom-2">
                <div class="container page__container">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Estadísticas</h4>
                            <p>Puntos: 10</p>
                            <p>Número de posts: 10</p>
                            <p>Número de preguntas: 10</p>
                            <p>Número de comentarios: 10</p>
                            <p>Número de respuestas: 10</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Medallas</h4>
                            <p>En esta sección apareceran todas las medallas, tanto las que se hayan conseguido como las que no, del curso.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container page__container page-section">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-6 col-md-6 mb-24pt mb-md-0">
                                <h4 class="card-title">Posts</h4>
                                <p class="card-subtitle mb-24pt">Posts publicados en este curso.</p>

                                <div class="mb-4">

                                    <div class="card card-sm">
                                        <div class="card-body d-flex align-items-center">
                                            <div class="flex">
                                                <a class="card-title mb-4pt" href="#">Las ecuaciones de segundo grado y su uso histórico</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-sm">
                                        <div class="card-body d-flex align-items-center">
                                            <div class="flex">
                                                <a class="card-title mb-4pt" href="#">Fluidos en movimiento y física de Bernoulli</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <div class="col-6 col-md-6 mb-24pt mb-md-0">
                                <h4 class="card-title">Preguntas</h4>
                                <p class="card-subtitle mb-24pt">Preguntas publicadas en este curso.</p>

                                <div class="mb-4">

                                    <div class="card card-sm">
                                        <div class="card-body d-flex align-items-center">
                                            <div class="flex">
                                                <a class="card-title mb-4pt" href="#">¿Alguien sabe como resolver el segundo problema?</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-sm">
                                        <div class="card-body d-flex align-items-center">
                                            <div class="flex">
                                                <a class="card-title mb-4pt" href="#">¿Soy al único al que le da un resultado distinto el quinto problema?</a>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>

            </div>


            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>