{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="/user-profile" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/teacher/128/white.svg" width="75" alt="Tutorio">
                    </a>    
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">Nombre</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Profesor</p>
                    </div>
                    <a href="/user-profile" class="btn btn-outline-white">Ver perfil</a>
                </div>
            </div>



            <div class="container page__container">
                <div class="page-section">

                    <h4>Posts</h4>
                    <p class="text-muted d-flex align-items-center mb-32pt mb-lg-48pt">
                        <a href="/students-area-link" class="mr-3">Volver a la sección inicial</a>
                    </p>
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center" style="white-space: nowrap;">
                                <div class="col-lg-auto">
                                    <form class="search-form search-form--light d-lg-inline-flex mb-8pt mb-lg-0" action="student-discussions.html">
                                        <input type="text" class="form-control w-lg-auto" placeholder="Buscar posts">
                                        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                                    </form>
                                </div>
                                <div class="col-lg d-flex flex-wrap align-items-center">
                                    <div class="ml-lg-auto">
                                    </div>
                                    <div class="mr-8pt">
                                    </div>
                                    <a href="/create-post-link" class="btn btn-accent">Crear post</a>
                                </div>
                            </div>
                        </div>


                        <div class="list-group list-group-flush">

                            <div class="list-group-item p-3" style="background-color:#FF6666;">
                                <div class="row align-items-center">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media">
                                            <div class="media-left mr-16pt">
                                                <a href="student-profile.html"><img src="assets/images/people/110/guy-1.jpg" width="40" alt="avatar" class="rounded-circle"></a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <p class="m-0"><a href="student-profile.html" class="text-body">Laza Bogdan</a></p>
                                                <p class="text-muted m-0">Principiante</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-8pt"><a href="/post-link" class="text-body"><strong>Using Angular HttpClientModule instead of HttpModule</strong></a></p>
                                    </div>
                                    <div class="col-md-1 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">comentarios</small></p>
                                    </div>
                                    <div class="col-md-2 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">Post</h5>
                                        <h5 class="m-0">interesante</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item p-3" style="background-color:#FFB072;">
                                <div class="row align-items-center">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media">
                                            <div class="media-left mr-16pt">
                                                <a href="student-profile.html"><img src="assets/images/people/110/guy-1.jpg" width="40" alt="avatar" class="rounded-circle"></a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <p class="m-0"><a href="student-profile.html" class="text-body">Laza Bogdan</a></p>
                                                <p class="text-muted m-0">Principiante</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-8pt"><a href="/post-link" class="text-body"><strong>Using Angular HttpClientModule instead of HttpModule</strong></a></p>
                                    </div>
                                    <div class="col-md-1 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">comentarios</small></p>
                                    </div>
                                    <div class="col-md-2 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">Post</h5>
                                        <h5 class="m-0">destacado</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item p-3" style="background-color:#FFE3B3;">
                                <div class="row align-items-center">
                                    <div class="col-md-3 mb-8pt mb-md-0">
                                        <div class="media">
                                            <div class="media-left mr-16pt">
                                                <a href="student-profile.html"><img src="assets/images/people/110/guy-1.jpg" width="40" alt="avatar" class="rounded-circle"></a>
                                            </div>
                                            <div class="media-body media-middle">
                                                <p class="m-0"><a href="student-profile.html" class="text-body">Laza Bogdan</a></p>
                                                <p class="text-muted m-0">Principiante</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-8pt mb-md-0">
                                        <p class="mb-8pt"><a href="/post-link" class="text-body"><strong>Using Angular HttpClientModule instead of HttpModule</strong></a></p>
                                    </div>
                                    <div class="col-md-1 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">1</h5>
                                        <p class="lh-1 mb-0"><small class="text-70">comentarios</small></p>
                                    </div>
                                    <div class="col-md-2 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <h5 class="m-0">Post</h5>
                                        <h5 class="m-0">estándar</h5>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="card-body text-center">
                            <a href="" class="text-black-70 text-underline">Ver más posts</a>
                        </div>
                    </div>

                </div>
            </div>



            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>