{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            {{>participation-header}}

            <div class="container page__container">
                <div class="page-section">

                    <div class="row">
                        <div class="col-md-12">

                            <h1 class="h2 mb-2">{{question.title}}</h1>
                            <p class="text-muted d-flex align-items-center mb-32pt mb-lg-48pt">
                                <a href="/questions-{{courseId}}" class="mr-3">Volver al foro</a>
                            </p>

                            <div class="card card-body">
                                <div class="d-flex">
                                    <div>
                                        <a href="/participation-user-{{question.participation.student.id}}-course-{{courseId}}" class="avatar mr-3">
                                            <img src="/user/{{question.participation.student.id}}/profilePhoto" alt="people" class="avatar-img rounded-circle">
                                        </a>
                                        {{#enrolledUser}}
                                            {{^isOwnQuestion}}
                                                {{^likedQuestion}}
                                                <a href="/like-question-{{question.id}}-course-{{courseId}}" class="text-50 d-flex align-items-center text-decoration-0 ml-2 mt-3">
                                                    <i class="material-icons mr-1" style="font-size: xx-large;">thumb_up</i>
                                                </a>
                                                {{/likedQuestion}}
                                                {{#likedQuestion}}
                                                <a href="/quit-like-question-{{question.id}}-course-{{courseId}}" class="text-50 d-flex align-items-center text-decoration-0 ml-2 mt-3">
                                                    <i class="material-icons mr-1" style="font-size: xx-large; color: #19857c;">thumb_up</i>
                                                </a>
                                                {{/likedQuestion}}
                                            {{/isOwnQuestion}}
                                        {{/enrolledUser}}
                                    </div>
                                    <div class="flex">
                                        <p class="d-flex align-items-center mb-2">
                                            <a href="/participation-user-{{question.participation.student.id}}-course-{{courseId}}" class="text-body mr-2"><strong>{{question.participation.student.name}}</strong></a>
                                        </p>
                                        <p>{{question.content}}</p>
                                        <div class="d-flex align-items-center">
                                            <a href="" class="text-50 d-flex align-items-center text-decoration-0"><i class="material-icons mr-1" style="font-size: inherit;">forum</i> {{question.answersSize}}</a>
                                            <a href="" class="text-50 d-flex align-items-center text-decoration-0 ml-3"><i class="material-icons mr-1" style="font-size: inherit;">thumb_up</i> {{question.likes}}</a>
                                            <a href="" class="text-50 d-flex align-items-center text-decoration-0 ml-3"><i class="material-icons mr-1" style="font-size: inherit;">visibility</i> {{question.views}}</a>
                                        </div>
                                    </div>
                                    {{#isOwnCourse}}
                                    <div>
                                        {{^interestingQuestion}}
                                        <a href="/set-question-{{question.id}}-interesting-for-course-{{courseId}}" class="btn btn-accent">Marcar pregunta interesante</a>
                                        {{/interestingQuestion}}
                                        {{#interestingQuestion}}
                                        <a href="/reset-question-{{question.id}}-interesting-for-course-{{courseId}}" class="btn btn-dark">Quitar pregunta interesante</a>
                                        {{/interestingQuestion}}
                                    </div>
                                    {{/isOwnCourse}}
                                </div>
                            </div>

                            {{#enrolledUser}}
                            <form action="/answer-question-{{question.id}}-course-{{courseId}}">
                                <div class="d-flex mb-4">
                                    <a href="/participation-user-{{user.id}}-course-{{courseId}}" class="avatar mr-3">
                                        <img src="/user/{{user.id}}/profilePhoto" alt="people" class="avatar-img rounded-circle">
                                    </a>
                                    <div class="flex">
                                        <div class="form-group">
                                            <label for="comment" class="form-label">Tu respuesta</label>
                                            <textarea class="form-control" name="content" id="comment" rows="3" placeholder="Escribe aquí una respuesta a la pregunta..."></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-accent">Responder</button>
                                    </div>
                                </div>
                            </form>
                            {{/enrolledUser}}



                            <div class="pt-3">
                                <h4>{{question.answersSize}} Respuestas</h4>
                                {{#bestAnswer}}
                                <div class="mt-3 card p-3" style="background-color: #35F9BA">
                                    <div class="col-md-12 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <strong>Mejor respuesta</strong>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="avatar mr-3">
                                                <img src="/user/{{participation.student.id}}/profilePhoto" alt="Guy" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="flex">
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body"><strong>{{participation.student.name}}</strong></a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body">{{participation.title}}</a>
                                            </div>
                                            <p class="mt-1 mb-0 text-70">{{bestAnswer.content}}</p>
                                        </div>
                                        {{#isOwnQuestion}}
                                        <div>
                                            <a href="/reset-best-answer-question-{{question.id}}-course-{{courseId}}" class="btn btn-dark">Quitar mejor respuesta</a>
                                        </div>
                                        {{/isOwnQuestion}}
                                    </div>
                                </div>
                                {{/bestAnswer}}
                                {{#outstandingAnswers}}
                                <div class="mt-3 card p-3" style="background-color: #8fe3ff">
                                    <div class="col-md-12 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <strong>Respuesta destacada</strong>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="avatar mr-3">
                                                <img src="/user/{{participation.student.id}}/profilePhoto" alt="Guy" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="flex">
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body"><strong>{{participation.student.name}}</strong></a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body">{{participation.title}}</a>
                                            </div>
                                            <p class="mt-1 mb-0 text-70">{{content}}</p>
                                        </div>
                                        {{#isOwnQuestion}}
                                        <div>
                                            <button class="btn btn-accent" href="/set-best-answer-{{id}}-question-{{question.id}}-course-{{courseId}}" >Mejor respuesta</button>
                                        </div>
                                        {{/isOwnQuestion}}
                                    </div>
                                </div>
                                {{/outstandingAnswers}}

                                {{#standardAnswers}}
                                <div class="mt-3 card p-3" style="background-color: #def7ff">
                                    <div class="col-md-12 mb-3pt mb-md-0 d-flex flex-column align-items-center justify-content-center">
                                        <strong>Respuesta estándar</strong>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="avatar mr-3">
                                                <img src="/user/{{participation.student.id}}/profilePhoto" alt="Guy" class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="flex">
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body"><strong>{{participation.student.name}}</strong></a>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <a href="/participation-user-{{participation.student.id}}-course-{{courseId}}" class="text-body">{{participation.title}}</a>
                                            </div>
                                            <p class="mt-1 mb-0 text-70">{{content}}</p>
                                        </div>
                                        {{#isOwnQuestion}}
                                        <div>
                                            <a href="/set-best-answer-{{id}}-question-{{question.id}}-course-{{courseId}}" class="btn btn-accent">Mejor respuesta</a>
                                        </div>
                                        {{/isOwnQuestion}}
                                    </div>
                                </div>
                                {{/standardAnswers}}



                            </div>
                        </div>
                    </div>

                </div>
            </div>





            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>