{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="/user-profile" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/user/128/w.svg" width="75" alt="Tutorio">
                    </a>
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">Nombre</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Usuario</p>
                    </div>
                    <a href="/user-edit-account" class="btn btn-outline-white">Editar cuenta</a>
                </div>
            </div>


            <div class="page-section bg-gradient-primary">
                <div class="container page__container">
                    <div class="row">

                        <div class="col-lg-6" >
                            <div class="card" onclick="location.href='/posts-link';" style="cursor:pointer; background: grey;">
                                <div class="card-header d-flex justify-content-center">
                                    <div class="h2 mb-0 mr-3 text-70">
                                        Foros
                                    </div>
                                </div>
                                <div class="card-body p-24pt">
                                    <div class="d-flex justify-content-center" style="height: 344px;">
                                        <img src="assets/images/illustration/post/128/white-icon.png" style="display: block; width: 350px; height: 344px;" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="card" onclick="location.href='/student-section';" style="cursor:pointer; background: grey;">
                                <div class="card-header d-flex justify-content-center"> 
                                    <div class="h2 mb-0 mr-3 text-70">
                                        Cuestiones
                                    </div>
                                </div>
                                <div class="card-body p-24pt">
                                    <div class="d-flex justify-content-center" style="height: 344px;">
                                        <img src="assets/images/illustration/question/128/white-icon.png" style="display: block; width: 350px; height: 344px;" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="js-fix-footer bg-white border-top-2">
                <div class="container page-section py-lg-48pt">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-2 col-md-4 mb-24pt mb-md-0">
                                </div>
                                <div class="col-8 col-md-4 mb-24pt mb-md-0">
                                    <h4 class="card-title">Top estudiantes</h4>
                                    <p class="card-subtitle mb-24pt">Ranking de los 10 estudiantes con mayor número de puntos del curso</p>

                                    <div class="mb-4">

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>1</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/50/guy-1.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Luci Bryant</strong></a>
                                            <span class="text-70 mr-2">105 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>2</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/50/guy-2.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Magnus Goldsmith</strong></a>
                                            <span class="text-70 mr-2">93 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>3</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/50/woman-1.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Katelyn Rankin</strong></a>
                                            <span class="text-70 mr-2">55 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>4</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_nicolas-horn-689011-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Jenell D. Matney</strong></a>
                                            <span class="text-70 mr-2">32 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>5</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_sharina-mae-agellon-377466-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Sherri J. Cardenas</strong></a>
                                            <span class="text-70 mr-2">21 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>6</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                            <span class="text-70 mr-2">16 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>7</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                            <span class="text-70 mr-2">14 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>8</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                            <span class="text-70 mr-2">11 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>9</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                            <span class="text-70 mr-2">7 puntos</span>
                                        </div>

                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>10</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="assets/images/people/256/256_rsz_karl-s-973833-unsplash.jpg" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>Joseph S. Ferland</strong></a>
                                            <span class="text-70 mr-2">5 puntos</span>
                                        </div>

                                    </div>


                                </div>
                                <div class="col-2 col-md-4 mb-32pt mb-md-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>


    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>

    <!-- Moment.js -->
    <script src="assets/vendor/moment.min.js"></script>
    <script src="assets/vendor/moment-range.min.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- Charts JS -->
    <script src="assets/js/chartjs.js"></script>

    <!-- Chart.js Samples -->
    <script src="assets/js/page.student-profile.js"></script>

</body>

</html>