{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">


            {{>participation-header}}

            <div class="page-section bg-gradient-primary">
                <div class="container page__container">
                    <div class="row">

                        <div class="col-lg-6" >
                            <div class="card" onclick="location.href='/posts-{{courseId}}';" style="cursor:pointer; background: grey;">
                                <div class="card-header d-flex justify-content-center">
                                    <div class="h2 mb-0 mr-3 text-70">
                                        Foros
                                    </div>
                                </div>
                                <div class="card-body p-24pt">
                                    <div class="d-flex justify-content-center" style="height: 344px;">
                                        <img src="assets/images/illustration/post/128/white-icon.png" style="display: block; width: 350px; height: 344px;" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="card" onclick="location.href='/student-section';" style="cursor:pointer; background: grey;">
                                <div class="card-header d-flex justify-content-center"> 
                                    <div class="h2 mb-0 mr-3 text-70">
                                        Cuestiones
                                    </div>
                                </div>
                                <div class="card-body p-24pt">
                                    <div class="d-flex justify-content-center" style="height: 344px;">
                                        <img src="assets/images/illustration/question/128/white-icon.png" style="display: block; width: 350px; height: 344px;" class="mr-md-32pt mb-32pt mb-md-0" alt="student">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="js-fix-footer bg-white border-top-2">
                <div class="container page-section py-lg-48pt">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-2 col-md-2 mb-24pt mb-md-0">
                                </div>
                                <div class="col-8 col-md-8 mb-24pt mb-md-0">
                                    <h4 class="card-title">Top estudiantes</h4>
                                    <p class="card-subtitle mb-24pt">Ranking de los 10 estudiantes con mayor número de puntos del curso</p>

                                    <div class="mb-4">

                                        {{#topGlobal}}
                                        <div class="d-flex align-items-center mb-2">
                                            <div class="mr-3">
                                                <strong>{{-index}}</strong>
                                            </div>
                                            <a href="student-profile.html" class="avatar avatar-xs mr-3">
                                                <img src="/user/{{student.id}}/profilePhoto" alt="course" class="avatar-img rounded-circle">
                                            </a>
                                            <a href="student-profile.html" class="flex mr-2 text-body"><strong>{{student.name}}</strong></a>
                                            <span class="text-70 mr-2">{{points}}</span>
                                        </div>
                                        {{/topGlobal}}

                                    </div>


                                </div>
                                <div class="col-2 col-md-2 mb-32pt mb-md-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>


    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>

    <!-- Moment.js -->
    <script src="assets/vendor/moment.min.js"></script>
    <script src="assets/vendor/moment-range.min.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- Charts JS -->
    <script src="assets/js/chartjs.js"></script>

    <!-- Chart.js Samples -->
    <script src="assets/js/page.student-profile.js"></script>

</body>

</html>