<div class="js-fix-footer bg-white">
    <div class="bg-footer page-section py-lg-32pt">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                    <p class="text-white-70 mb-8pt"><strong>Síguenos</strong></p>
                    <nav class="nav nav-links nav--flush">
                        <a href="https://www.facebook.com/Forever-Learn-112547794588081" class="nav-link mr-8pt"><img src="assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
                        <a href="https://twitter.com/ForeverLearnTw" class="nav-link mr-8pt"><img src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
                        <a href="https://www.youtube.com/channel/UC3y5pAPEZfQ6JCAZwP9nu7g" class="nav-link"><img src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
                    </nav>
                </div>
                <div class="col-md-4 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                </div>
                <div class="col-md-6 text-md-right">
                    <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                        <a href="/help-center" class="text-white-70 text-underline mr-16pt">Centro de ayuda</a>
                        <a href="/terms-of-service" class="text-white-70 text-underline mr-16pt">Términos de servicio</a>
                        <a href="/privacy-policy" class="text-white-70 text-underline">Política de privacidad</a>
                    </p>
                    <p class="text-white-50 mb-0">Copyright 2021 &copy; Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</div>
