{{>header}}

<!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="admin-options.html" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/admin/128/police-svgrepo-com.svg" width="75" alt="Tutorio">
                    </a>
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">{{user.name}} {{user.surname}}</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Administrador</p>
                    </div>
                    <a href="/user-profile" class="btn btn-outline-white">Ver perfil</a>
                </div>
            </div>


            <div class="container page__container page-section">

                <div class="page-headline text-center">
                    <h2>Administrar usuarios</h2>
                    <div class="lead text-70 col-lg-4 mx-auto justify-content-center">
                        <form class="search-form search-form--black search-form-courses d-none d-md-flex " action="/admin-search-user">
                            <input type="text" name="name" class="form-control" placeholder="¿Buscas algún usuario?">
                            <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                        </form>
                    </div>

                </div>



                <div>

                    {{#users}}
                    <div class="card card-path js-overlay stack stack--1 " data-toggle="popover" data-trigger="click">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex">
                                    <div class="d-flex align-items-center">
                                        <div class="rounded mr-16pt z-0 o-hidden">
                                            <div class="overlay">
                                                <div class="avatar avatar-4by3 mr-16pt">
                                                    <img src="/user/{{id}}/profilePhoto" alt="Angular Routing In-Depth" class="avatar-img rounded">
                                                </div>
                                                <span class="overlay__content overlay__content-transparent">
                                                    <span class="overlay__action d-flex flex-column text-center lh-1">
                                                        <small class="h6 small text-white mb-0" style="font-weight: 500;"></small>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <div class="card-title text-body mb-4pt">{{name}} {{surname}}</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/instructor-profile-{{id}}" class="ml-4pt btn btn-primary text-white mr-4pt">Ver usuario</a>
                                {{^banned}}
                                <a href="/ban-user-{{id}}" class="ml-4pt btn btn-accent text-white mr-4pt">Banear</a>
                                {{/banned}}
                                {{#banned}}
                                <a href="/unban-user-{{id}}" class="ml-4pt btn btn-success text-white mr-4pt">Desbanear</a>
                                {{/banned}}
                                <a href="/admin-delete-user-{{id}}" class="ml-4pt btn btn-black text-white">Eliminar</a>
                            </div>
                        </div>
                    </div>
                    {{/users}}

                    {{#usersFound}}
                    <!-- Pagination -->

                    <ul class="pagination justify-content-center pagination-sm">
                        <li class="page-item {{#firstPage}} disabled {{/firstPage}}">
                            <a class="page-link" href="/admin-users-prev-page-{{pageNumber}}" aria-label="Previous">
                                <span aria-hidden="true" class="material-icons">chevron_left</span>
                            </a>
                        </li>


                        <li class="page-item active">
                            <a class="page-link" href="#" aria-label="1">
                                <span>{{numberPage}}</span>
                            </a>
                        </li>

                        <li class="page-item {{#lastPage}} disabled {{/lastPage}}">
                            <a class="page-link" href="/admin-users-next-page-{{pageNumber}}" aria-label="Next">
                                <span aria-hidden="true" class="material-icons">chevron_right</span>
                            </a>
                        </li>
                    </ul>

                    {{/usersFound}}

                    {{^usersFound}}
                    <h1>No se han encontrado usuarios que administrar</h1>
                    {{/usersFound}}

                </div>
            </div>


            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    <!-- // Modal ban course-->
    <div class="modal fade" id="banUser">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Banear usuario</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="list-group list-group-form">
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-12">¿Cúantos días deseas banear este usuario?</label>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" placeholder="Introduce el número de días">
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-accent">Banear usuario</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div> 

    <!-- // Modal unban course-->
    <div class="modal fade" id="unbanUser">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Desbanear usuario</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                ¿Está seguro de que desea desbanear este usuario?
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-success">Desbanear usuario</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div> 

    <!-- // Modal delete course-->
    <div class="modal fade" id="deleteUser">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Borrar usuario</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                ¿Está seguro de que desea borrar este usuario?
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-black">Borrar usuario</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div>

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>


    <!-- Global Settings -->
    <script src="assets/js/settings.js"></script>

    <!-- Moment.js -->
    <script src="assets/vendor/moment.min.js"></script>
    <script src="assets/vendor/moment-range.min.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- Charts JS -->
    <script src="assets/js/chartjs.js"></script>

    <!-- Chart.js Samples -->
    <script src="assets/js/page.student-profile.js"></script>

</body>

</html>