{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">

            <div class="mdk-box bg-dark mdk-box--bg-gradient-primary js-mdk-box mb-0" data-effects="blend-background">
                <div class="mdk-box__content">
                    <div class="hero py-64pt text-center text-sm-left">
                        <div class="container">
                            <h1 class="text-white">Centro de ayuda</h1>
                            <p class="lead text-white-50 measure-hero-lead">
                                En el Centro de ayuda encontrarás información acerca del concepto detrás de 
                                ForeverLearn así como respuestas a las principales dudas que puedan surgir entorno a su uso.
                            </p>  
                        </div>
                    </div>
                </div>
            </div>

            

            <div class="container page__container">
                <div class="row">
                    <div class="col-lg-7">

                        <div class="border-left-2 page-section pl-32pt">

                            <div class="page-nav__content">
                                <h1 class="mb-16pt">Centro de ayuda</h1>
                            </div>

                            <div id="1" class="d-flex align-items-center page-num-container">
                                <div class="page-num">1</div>
                                <h4>¿Qué es ForeverLearn?
                                </h4>
                            </div>

                            <p class="text-70 mb-24pt">
                                ForeverLearn es un proyecto que nace con la idea de aportar las herramientas necesarias 
                                para la correcta impartición y participación en CMOOCs.
                                Los CMOOC son cursos masivos abiertos en línea que buscan aprovechar su gran número de 
                                usuarios para aportar un valor adicional al tema a impartir que de otro modo no podría obtenerse.
                                ForeverLearn apuesta por los REA, recursos educativos abiertos, al permitir que todo el contenido 
                                de todos los cursos sea accesible para cualquier usuario de la web, tanto registrado como no registrado, 
                                y sin barreras de ningún tipo, incluidos los desarrolladores que podrán acceder a dicha información a través 
                                de nuestra API pública.
                                ForeverLearn permite a sus usuarios ser tanto profesores comno alumnos.
                            </p>


                            <div id="2" class="d-flex align-items-center page-num-container">
                                <div class="page-num">2</div>
                                <h4>¿Qué ofrece ForeverLearn a los profesores?</h4>
                            </div>
                            <p class="text-70 mb-24pt">
                                Si tienes algo que enseñar al mundo, Forever learn te ofrece la creación de cursos de forma ilimitada, 
                                con un profundo nivel de detalle y gestión, permitiendote establecer y modificar:
                                título, miniatura, descripción, categoría, dificultad, duración, objetivos del curso, requisitos de entrada,
                                división del curso en temas y división del tema en lecciones.
                            </p>

                            <div id="3" class="d-flex align-items-center page-num-container">
                                <div class="page-num">3</div>
                                <h4>¿Qué ofrece ForeverLearn a los alumos?</h4>
                            </div>
                            <p class="text-70 mb-24pt">
                                Si buscas aprender una nueva habilidad, ForeverLearn te ofrece un amplio catálogo de cursos abiertos de 
                                manera gratuita y un título de superación de los mismos una vez cumplidos los requisitos
                                necesarios.
                            </p>
                            

                            <div id="4" class="d-flex align-items-center page-num-container">
                                <div class="page-num">4</div>
                                <h4>¿Cómo utiliza ForeverLearn el concepto de CMOOC?</h4>
                            </div>
                            <p class="text-70 mb-24pt">
                                ForeverLearn acompaña cada curso con un sistema parecido a una red social en la que solo pueden participar 
                                los alumnos matriculados en el propio curso, esta red permite a los alumnos: hacer preguntas y respuestas 
                                sobre los contenidos propuestos por el profesor, publicar entradas escritas por ellos mismos, compartir 
                                información relevante de otras fuentes sobre el tema y crear foros de debate.
                                Será en base a su participación a través de estos espacios que el estudiante obtendrá su certificación del curso.
                                Todo esto busca crear una red de pensamiento, debate y difusión entorno al tema del curso, creando así una capa 
                                por encima de él que lo cubra de una mayor información, investigación y contenido de lo que nunca podría haber 
                                llegado a ser por sí solo.
                            </p>

                            <div id="5" class="d-flex align-items-center page-num-container">
                                <div class="page-num">5</div>
                                <h4>Reconocimientos</h4>
                            </div>
                            <p class="text-70 mb-24pt">
                                La creación de ForeverLearn ha requerido material de otros autores a los que se les debe reconocer su trabajo.
                            </p>
                            <p class="text-70 mb-24pt">
                                - Plantilla original: <a href="http://tutorio.frontendmatter.com/documentation.html" title="Tutorio">Tutorio</a> de 
                                <a href="https://themeforest.net/user/frontendmatter" title="Freepik">FrontendMatter</a>
                            </p>
                            <p class="text-70 mb-24pt">
                                - Iconos: <a href="https://www.freepik.com" title="Freepik">Freepik</a> en <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 page-nav">
                        <div class="page-section">
                            <div class="page-nav__content">
                                <h2 class="mb-16pt">Índice</h4>
                            </div>
                            <nav class="nav page-nav__menu">
                                <a class="nav-link" href="#1">¿Qué es ForeverLearn?</a>
                                <a class="nav-link" href="#2">¿Qué ofrece ForeverLearn a los profesores?</a>
                                <a class="nav-link" href="#3">¿Qué ofrece ForeverLearn a los alumos?</a>
                                <a class="nav-link" href="#4">¿Cómo utiliza ForeverLearn el concepto de CMOOC?</a>
                                <a class="nav-link" href="#5">Reconocimientos</a>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>


            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>