{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="/instructor-section" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/teacher/128/white.svg" width="75" alt="Tutorio">
                    </a>    
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">{{user.name}}</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Profesor</p>
                    </div>
                    <a href="/user-profile" class="btn btn-outline-white">Ver perfil</a>
                </div>
            </div>

            <div class="container page__container">
                <form action="/edit-course-{{course.id}}" method="post" id="edit-course-form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="page-section">
                                <h4>Editar curso</h4>
                                <div class="list-group list-group-form">
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Título</label>
                                            <div class="col-sm-9">
                                                <input name="name" value="{{course.name}}" type="text" class="form-control" placeholder="Introduce el título">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Miniatura</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="media-body">
                                                    <div class="custom-file">
                                                        <input name="image" type="file" class="custom-file-input" id="inputGroupFile00" accept="image/png, image/jpeg">
                                                        <label class="custom-file-label" for="inputGroupFile00">Elegir archivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3" for="category">Categoría</label>
                                            <div class="col-sm-9">
                                                <select id="category" name="categoryName" class="custom-select">
                                                    <option value="" ng-reflect-value="">Elige una categoría</option>
                                                    <option value="Crecimiento personal">Crecimiento personal</option>
                                                    <option value="Deportes">Deporte</option>
                                                    <option value="Disciplinas académicas">Disciplinas académicas</option>
                                                    <option value="Diseño">Diseño</option>
                                                    <option value="Finanzas">Finanzas</option>
                                                    <option value="Fotografía y video">Fotografía y video</option>
                                                    <option value="Informática y software">Informática y software</option>
                                                    <option value="Marketing">Marketing</option>
                                                    <option value="Música">Música</option>
                                                    <option value="Profesiones">Profesiones</option>
                                                    <option value="Salud">Salud</option>
                                                    <option value="Otros">Otros</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3" for="difficulty">Dificultad</label>
                                            <div class="col-sm-9">
                                                <select id="difficulty" name="difficulty" class="custom-select">
                                                    <option value="" ng-reflect-value="">Elige una dificultad</option>
                                                    <option value="Principiante">Principiante</option>
                                                    <option value="Intermedio">Intermedio</option>
                                                    <option value="Avanzado">Avanzado</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Duración</label>
                                            <div class="col-sm-9">
                                                <input name="length" value="{{course.length}}" type="number" class="form-control" placeholder="Introduce la duración">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Trailer</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="media-body">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                        <label class="custom-file-label" for="inputGroupFile02">Elegir archivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Descripción</label>
                                            <div class="col-sm-9">
                                                <textarea name="description" value="{{course.description}}" rows="10" class="form-control" placeholder="Introduce la descripción"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>


                                <div class="container page__container">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="text-center" style="padding:1rem">
                                                <button class="btn btn-accent" type="submit" form="edit-course-form" value="Submit">Guardar cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="container page__container">
                <div class="row">
                        <div class="col-lg-12">

                            <div class="page-section">
                                    <div class="page-section border-bottom-2">
                                        <div class="container page__container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <h4>Temario</h4>

                                                </div>
                                                <div class="col-7"></div>
                                                <div class="col-3">
                                                    <a data-toggle="modal" data-target="#createTheme" class="btn btn-accent mb-16pt" style="color:white; float:right">Crear tema</a>
                                                </div>
                                            </div>
                                            <div class="card-group card-group--lg-up mb-0">
                                                <div class="card col-lg-12 p-0">

                                                    <ul class="accordion accordion--boxed js-accordion list-group-flush" id="course-toc-themes">
                                                        {{#course.themes}}
                                                            <li class="accordion__item">
                                                            <a class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="#course-toc-{{idTheme}}">
                                                                <span class="flex">{{nameTheme}}</span>
                                                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                                                <button class="button-60 ml-16pt" data-toggle="modal" data-target="#editTheme-{{idTheme}}" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></button>
                                                                <button class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteTheme-{{idTheme}}" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></button>
                                                                <button data-toggle="modal" data-target="#createLessonForTheme-{{idTheme}}" class="btn btn-accent ml-16pt" style="float:right">Crear lección</button>

                                                            </a>
                                                            <div class="accordion__menu">
                                                                <ul class="list-unstyled collapse" id="course-toc-{{idTheme}}">
                                                                    {{#lessons}}
                                                                    <li class="accordion__menu-link">
                                                                        <span class="material-icons icon-16pt icon--left text-body">play_circle_outline</span>
                                                                        <a class="flex" href="lesson.html">{{nameLesson}}</a>
                                                                        <a class="button-60" data-toggle="modal" data-target="#editLesson-{{idLesson}}" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                        <a class="button-60 ml-16pt" data-toggle="modal" data-target="#deleteLesson-{{idLesson}}" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                                    </li>
                                                                    {{/lessons}}
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        {{/course.themes}}

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="page-section border-bottom-2">
                                        <div class="container page__container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <h4>Requisitos</h4>

                                                </div>
                                                <div class="col-7"></div>
                                                <div class="col-3">
                                                    <a data-toggle="modal" data-target="#createRequirement" class="btn btn-accent mb-16pt" style="color:white; float:right">Crear requisito</a>
                                                </div>
                                            </div>
                                            <div class="card-group card-group--lg-up mb-0">
                                                <div class="card col-lg-12 p-0">

                                                    <ul class="accordion accordion--boxed js-accordion list-group-flush" id="course-toc">
                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Requisito 1</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Requisito 2</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Requisito 3</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteRequirement" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="page-section border-bottom-2">
                                        <div class="container page__container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <h4>Objetivos</h4>

                                                </div>
                                                <div class="col-7"></div>
                                                <div class="col-3">
                                                    <a data-toggle="modal" data-target="#createObjective" class="btn btn-accent mb-16pt" style="color:white; float:right">Crear objetivo</a>
                                                </div>
                                            </div>
                                            <div class="card-group card-group--lg-up mb-0">
                                                <div class="card col-lg-12 p-0">

                                                    <ul class="accordion accordion--boxed js-accordion list-group-flush" id="course-toc">
                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Objetivo 1</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Objetivo 2</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                        <li class="accordion__item">
                                                            <div class="accordion__toggle" data-toggle="collapse" data-parent="#course-toc" href="">
                                                                <span class="flex">Objetivo 3</span>
                                                                <a class="button-60 ml-16pt" data-toggle="modal" data-target="#editObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">edit</i></a>
                                                                <a class="button-60  ml-16pt" data-toggle="modal" data-target="#deleteObjective" role="button"><i class="material-icons text-black-20 card-course__icon-favorite">delete</i></a>
                                                            </div>
                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                            </div>

                        </div>
                    </div>
            </div>


            <div class="js-fix-footer bg-white border-top-2">
                <div class="bg-footer page-section py-lg-32pt">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                                <p class="text-white-70 mb-8pt"><strong>Síguenos</strong></p>
                                <nav class="nav nav-links nav--flush">
                                    <a href="https://www.facebook.com/Forever-Learn-112547794588081" class="nav-link mr-8pt"><img src="assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
                                    <a href="https://twitter.com/ForeverLearnTw" class="nav-link mr-8pt"><img src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
                                    <a href="https://www.youtube.com/channel/UC3y5pAPEZfQ6JCAZwP9nu7g" class="nav-link"><img src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
                                </nav>
                            </div>
                            <div class="col-md-4 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                            </div>
                            <div class="col-md-6 text-md-right">
                                <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                    <a href="/help-center" class="text-white-70 text-underline mr-16pt">Centro de ayuda</a>
                                    <a href="/terms-of-service" class="text-white-70 text-underline mr-16pt">Términos de servicio</a>
                                    <a href="/privacy-policy" class="text-white-70 text-underline">Política de privacidad</a>
                                </p>
                                <p class="text-white-50 mb-0">Copyright 2021 &copy; Todos los derechos reservados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    <!-- // Modal create theme-->
    <div class="modal fade" id="createTheme">
        <form action="/create-theme-for-course-{{course.id}}" method="post" id="create-theme-for-course-form">
            <div class="modal-dialog">
            <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Crear tema</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="list-group list-group-form">
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Título</label>
                            <div class="col-sm-9">
                                <input type="text" name="nameTheme" class="form-control" placeholder="Introduce el título">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Descripción</label>
                            <div class="col-sm-9">
                                <textarea name="descriptionTheme" rows="10" class="form-control" placeholder="Introduce la descripción"></textarea>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" form="create-theme-for-course-form" value="Submit" class="btn btn-lg btn-accent">Crear tema</button>
                </div>            
            </div>
      
          </div>
        </div>
        </form>
    </div>


    {{#course.themes}}
        <!-- // Modal edit theme-->
        <div class="modal fade" id="editTheme-{{idTheme}}">
            <form action="/edit-theme-{{idTheme}}-for-course-{{course.id}}" method="post" id="edit-theme-for-course-form">
                <div class="modal-dialog">
                    <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Editar tema</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="list-group list-group-form">
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Título</label>
                            <div class="col-sm-9">
                                <input type="text" name="nameTheme" value="{{nameTheme}}" class="form-control" placeholder="Introduce el título">
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Descripción</label>
                            <div class="col-sm-9">
                                <textarea rows="10"  name="descriptionTheme" value="{{descriptionTheme}}" class="form-control" placeholder="Introduce la descripción"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" form="edit-theme-for-course-form" value="Submit" class="btn btn-lg btn-accent">Editar tema</button>
                </div>            
            </div>
      
          </div>
                </div>
            </form>
        </div>

        <!-- // Modal delete theme-->
        <div class="modal fade" id="deleteTheme-{{idTheme}}">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Borrar tema</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                ¿Está seguro de que desea borrar el tema: {{nameTheme}}?
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <a href="/delete-theme-{{idTheme}}-for-course-{{course.id}}" class="btn btn-lg btn-accent">Borrar tema</a>
                </div>            
            </div>
      
          </div>
        </div>
    </div>

        <!-- // Modal create lesson-->
        <div class="modal fade" id="createLessonForTheme-{{idTheme}}">
            <form action="/create-lesson-for-theme-{{idTheme}}-for-course-{{course.Id}}" method="post" id="create-lesson-for-theme-form">
                <div class="modal-dialog">
                <div class="modal-content">

                <!-- cabecera del diálogo -->
                <div class="modal-header">
                    <h4 class="modal-title">Crear lección</h4>
                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>

                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    <div class="list-group list-group-form">
                        <div class="list-group-item">
                            <div class="form-group row mb-0">
                                <label class="col-form-label col-sm-3">Título</label>
                                <div class="col-sm-9">
                                    <input type="text" name="nameLesson" class="form-control" placeholder="Introduce el título">
                                </div>
                            </div>
                        </div>
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Descripción</label>
                            <div class="col-sm-9">
                                <textarea name="descriptionLesson" rows="15" class="form-control" placeholder="Introduce la descripción"></textarea>
                                <small class="form-text text-muted">Este campo admite texto en formato Markdown</small>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Insertar contenido embebido</label>
                            <div class="col-sm-9">
                                <textarea rows="5" class="form-control" placeholder="Introduce el código del iframe"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Material</label>
                            <div class="col-sm-9 media align-items-center">
                                <div class="media-body">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button type="submit" form="create-lesson-for-theme-form" value="Submit" class="btn btn-lg btn-accent">Crear lección</button>
                </div>
            </div>

        </div>
    </div>
            </form>
        </div>

        {{#lessons}}

            <!-- // Modal edit lesson-->
            <div class="modal fade" id="editLesson-{{idLesson}}">
                <form action="/edit-lesson-{{idLesson}}-for-theme-{{idTheme}}-for-course-{{course.id}}" method="post" id="edit-lesson-for-theme-for-course-form">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- cabecera del diálogo -->
                            <div class="modal-header">
                                <h4 class="modal-title">Editar lección</h4>
                                <button type="button" class="close" data-dismiss="modal">X</button>
                            </div>

                            <!-- cuerpo del diálogo -->
                            <div class="modal-body">
                                <div class="list-group list-group-form">
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Título</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="nameLesson" value="{{nameLesson}}" class="form-control" placeholder="Introduce el título">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Descripción</label>
                                            <div class="col-sm-9">
                                                <textarea rows="15" name="descriptionLesson" class="form-control" placeholder="Introduce la descripción"></textarea>
                                                <small class="form-text text-muted">Este campo admite texto en formato Markdown</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Insertar contenido embebido</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" placeholder="Introduce el código del iframe"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Material</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="media-body">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="inputGroupFile-{{idLesson}}">
                                                        <label class="custom-file-label" for="inputGroupFile-{{idLesson}}">Elegir archivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- pie del diálogo -->
                            <div class="modal-footer">
                                <div class="text-center">
                                    <button type="submit" form="edit-lesson-for-theme-for-course-form" value="Submit" class="btn btn-lg btn-accent">Editar lección</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

            <!-- // Modal delete lesson-->
            <div class="modal fade" id="deleteLesson-{{idLesson}}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- cabecera del diálogo -->
                            <div class="modal-header">
                                <h4 class="modal-title">Borrar lección</h4>
                                <button type="button" class="close" data-dismiss="modal">X</button>
                            </div>

                            <!-- cuerpo del diálogo -->
                            <div class="modal-body">
                                ¿Está seguro de que desea borrar la lección: {{nameLesson}}?
                            </div>

                            <!-- pie del diálogo -->
                            <div class="modal-footer">
                                <div class="text-center">
                                    <a href="/delete-lesson-{{idLesson}}-for-theme-{{idTheme}}-for-course-{{course.id}}" class="btn btn-lg btn-accent">Borrar lección</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        {{/lessons}}

    {{/course.themes}}

    <!-- // Modal create requirement-->
    <div class="modal fade" id="createRequirement">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Crear requisito</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="list-group list-group-form">
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Requisito</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Introduce el nuevo requisito">
                            </div>
                        </div>
                    </div>
                    
                </div>            
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-accent">Crear requisito</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div> 

    <!-- // Modal edit requirement-->
    <div class="modal fade" id="editRequirement">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Editar requisito</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="list-group list-group-form">
                    <div class="list-group-item">
                        <div class="form-group row mb-0">
                            <label class="col-form-label col-sm-3">Requisito</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Introduce el requisito modificado">
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-accent">Editar requisito</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div> 

    <!-- // Modal delete requirement-->
    <div class="modal fade" id="deleteRequirement">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- cabecera del diálogo -->
            <div class="modal-header">
              <h4 class="modal-title">Borrar requisito</h4>
              <button type="button" class="close" data-dismiss="modal">X</button>
            </div>
      
            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                ¿Está seguro de que desea borrar este requisito?
            </div>
      
            <!-- pie del diálogo -->
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-lg btn-accent">Borrar requisito</button>
                </div>            
            </div>
      
          </div>
        </div>
    </div> 

    <!-- // Modal create objective-->
    <div class="modal fade" id="createObjective">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- cabecera del diálogo -->
                <div class="modal-header">
                  <h4 class="modal-title">Crear objetivo</h4>
                  <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
          
                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    <div class="list-group list-group-form">
                        <div class="list-group-item">
                            <div class="form-group row mb-0">
                                <label class="col-form-label col-sm-3">Objetivo</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Introduce el nuevo objetivo">
                                </div>
                            </div>
                        </div>
                        
                    </div>            
                </div>
          
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-lg btn-accent">Crear objetivo</button>
                    </div>            
                </div>
          
              </div>
            </div>
    </div> 
    
    <!-- // Modal edit objective-->
    <div class="modal fade" id="editObjective">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- cabecera del diálogo -->
                <div class="modal-header">
                  <h4 class="modal-title">Editar objetivo</h4>
                  <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
          
                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    <div class="list-group list-group-form">
                        <div class="list-group-item">
                            <div class="form-group row mb-0">
                                <label class="col-form-label col-sm-3">Objetivo</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Introduce el objetivo modificado">
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
          
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-lg btn-accent">Editar objetivo</button>
                    </div>            
                </div>
          
              </div>
            </div>
    </div> 
    
    <!-- // Modal delete objective-->
    <div class="modal fade" id="deleteObjective">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- cabecera del diálogo -->
                <div class="modal-header">
                  <h4 class="modal-title">Borrar objetivo</h4>
                  <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
          
                <!-- cuerpo del diálogo -->
                <div class="modal-body">
                    ¿Está seguro de que desea borrar este objetivo?
                </div>
          
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <div class="text-center">
                        <button class="btn btn-lg btn-accent">Borrar objetivo</button>
                    </div>            
                </div>
          
              </div>
            </div>
    </div>
    
    <!-- DRAWER (MOBILE NAVBAR) -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>
                <div class="sidebar-p-a sidebar-b-b sidebar-m-b pt-0">

                    <!-- Brand -->
                    <a href="index.html" class="sidebar-brand">
                        <img class="sidebar-brand-icon" src="assets/images/logo/image.png" width="40" alt="Tutorio">
                        <span>ForeverLearn</span>
                    </a>
                    <!-- // END Brand -->

                    <!-- Search -->
                    <form action="library-filters.html" class="search-form search-form--black">
                        <input type="text" class="form-control" placeholder="Búsqueda">
                        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                    </form>

                </div>

                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="library.html">Cursos</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="login.html">Iniciar sesión</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- // END drawer -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>