{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content pb-0">

            <div class="navbar navbar-expand-sm navbar-list navbar-submenu navbar-light p-0 m-0">
                <div class="container-fluid align-items-start align-items-sm-center">
                    <div class="navbar-list__item">
                        <nav class="nav nav-links nav--flush">
                            <a data-toggle="sidebar" data-target="#filters-drawer" class="active nav-link d-flex align-items-center"><span class="material-icons mx-4pt">close</span> Filtros</a>
                        </nav>
                    </div>
                    
                    <div class="navbar-list__item d-flex align-items-center">
                        <nav class="nav nav-links nav--flush mr-24pt">
                            <a href="/library" class="mr-4pt nav-link"><i class="material-icons">view_module</i></a>
                            <a href="/library-list" class="nav-link active"><i class="material-icons icon--left">list</i></a>
                        </nav>
                        <div class="ml-auto custom-select-icon">
                            <select name="sort" class="custom-select custom-select-sm custom-select-icon__select">
                                <option>Novedad</option>
                                <option>Antigüedad</option>
                                <option>Título (a-z)</option>
                                <option>Título (z-a)</option>
                            </select>
                            <span class="material-icons custom-select-icon__icon">sort</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mdk-drawer-layout js-mdk-drawer-layout" data-responsive-width="768px" data-push>

                <!-- content -->
                <div class="mdk-drawer-layout__content">
                    <div class="page-section">
                        <div class="container page__container">
                            <div class="page-heading">
                                <h4>Courses</h4>
                                <p class="ml-sm-auto text-70 mb-0"><strong>12</strong> resultados en Todas las categorías</p>
                            </div>




                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="center">
                                            <img src="assets/images/paths/angular_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Learn Angular fundamentals</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="center">
                                            <img src="assets/images/paths/swift_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Build an iOS Application in Swift</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="center">
                                            <img src="assets/images/paths/wordpress_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Build a WordPress Website</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="left">
                                            <img src="assets/images/paths/react_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Become a React Native Developer</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="center">
                                            <img src="assets/images/paths/redis_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Become a Redis Developer</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="left">
                                            <img src="assets/images/paths/typescript_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Introduction to Typescript</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="left">
                                            <img src="assets/images/paths/angular_testing_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Angular Unit Testing</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="left">
                                            <img src="assets/images/paths/angular_routing_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Angular Routing In-Depth</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="card course-list-item o-hidden overlay js-overlay" data-trigger="hover">
                                <div class="media media-stack-xs align-items-stretch">
                                    <div class="media-left media__thumbnail mr-0">
                                        <a href="course.html" class="js-image" data-position="center">
                                            <img src="assets/images/paths/devops_430x168.png" alt="course">
                                            <span class="overlay__content">
                                                <span class="overlay__action d-flex flex-column text-center">
                                                    <i class="material-icons">play_circle_outline</i>
                                                    <small>Ver curso</small>
                                                </span>
                                            </span>
                                        </a>

                                    </div>
                                    <div class="media-body card-body">
                                        <div class="d-flex">
                                            <div class="flex">
                                                <a class="card-title m-0" href="#">Become a DevOps Engineer</a>
                                                <p class="d-flex flex-wrap lh-1 mb-16pt">
                                                    <small class="text-50 font-weight-bold mr-8pt">Elijah Murray</small>
                                                </p>
                                            </div>
                                            <a href="course.html" class="ml-4pt material-icons text-20 card-course__icon-favorite">favorite</a>
                                        </div>

                                        <p class="text-50 course-list-item__excerpt">This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.</p>

                                        <div class="d-flex align-items-center">
                                            <div class="flex d-flex lh-1">
                                                <small class="text-50 mr-8pt">6 horas</small>
                                                <small class="text-50">Principiante</small>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="rating flex">
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star</span></span>
                                                    <span class="rating__item"><span class="material-icons">star_border</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Pagination -->
                            <ul class="pagination justify-content-center pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true" class="material-icons">chevron_left</span>
                                        <span>Prev</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#" aria-label="1">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="1">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- drawer -->
                <div class="mdk-drawer js-mdk-drawer" id="filters-drawer">
                    <div class="mdk-drawer__content">
                        <div class="mdk-drawer__inner" data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true">
                            <div class="pt-md-32pt pt-lg-64pt">
                                <div class="px-24pt mb-24pt mb-md-48pt filter-section">
                                    <ul class="accordion js-accordion m-0" id="library-category">
                                        <li class="accordion__item open">
                                            <a class="accordion__toggle" data-toggle="collapse" data-parent="#library-category" href="#library-all">
                                                <span class="flex">Categoría</span>
                                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                            </a>
                                            <nav class="accordion__menu collapse show" id="library-all">
                                                <a class="accordion__menu-link active" href="library.html">Todas las categorías</a>
                                                <a class="accordion__menu-link" href="library.html">Crecimiento personal</a>
                                                <a class="accordion__menu-link" href="library.html">Deportes</a>
                                                <a class="accordion__menu-link" href="library.html">Disciplinas académicas</a>
                                                <a class="accordion__menu-link" href="library.html">Diseño</a>
                                                <a class="accordion__menu-link" href="library.html">Finanzas</a>
                                                <a class="accordion__menu-link" href="library.html">Fotografía y video</a>
                                                <a class="accordion__menu-link" href="library.html">Informática y software</a>
                                                <a class="accordion__menu-link" href="library.html">Marketing</a>
                                                <a class="accordion__menu-link" href="library.html">Música</a>
                                                <a class="accordion__menu-link" href="library.html">Profesiones</a>
                                                <a class="accordion__menu-link" href="library.html">Salud</a>
                                                <a class="accordion__menu-link" href="library.html">Otros</a>
                                            </nav>
                                        </li>
                                    </ul>
                                </div>

                                <div class="px-24pt filter-section">
                                    <ul class="accordion js-accordion mb-24pt mb-md-48pt" id="library-difficulty">
                                        <li class="accordion__item open">
                                            <a class="accordion__toggle" data-toggle="collapse" data-parent="#library-difficulty" href="#library-difficulty-all">
                                                <span class="flex">Dificultad</span>
                                                <span class="accordion__toggle-icon material-icons">keyboard_arrow_down</span>
                                            </a>
                                            <nav class="accordion__menu collapse show" id="library-difficulty-all">
                                                <form action="#">
                                                    <div class="form-group custom-controls-stacked">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked id="difficulty-beginner">
                                                            <label class="custom-control-label" for="difficulty-beginner">Principiante</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="difficulty-intermediate">
                                                            <label class="custom-control-label" for="difficulty-intermediate">Intermedio</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="difficulty-advanced">
                                                            <label class="custom-control-label" for="difficulty-advanced">Avanzado</label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </nav>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- // END drawer-layout -->


            <div class="js-fix-footer bg-white">
                <div class="bg-footer page-section py-lg-32pt">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 mb-24pt mb-md-0">
                                <p class="text-white-70 mb-8pt"><strong>Síguenos</strong></p>
                                <nav class="nav nav-links nav--flush">
                                    <a href="https://www.facebook.com/Forever-Learn-112547794588081" class="nav-link mr-8pt"><img src="assets/images/icon/footer/facebook-square@2x.png" width="24" height="24" alt="Facebook"></a>
                                    <a href="https://twitter.com/ForeverLearnTw" class="nav-link mr-8pt"><img src="assets/images/icon/footer/twitter-square@2x.png" width="24" height="24" alt="Twitter"></a>
                                    <a href="https://www.youtube.com/channel/UC3y5pAPEZfQ6JCAZwP9nu7g" class="nav-link"><img src="assets/images/icon/footer/youtube-square@2x.png" width="24" height="24" alt="YouTube"></a>
                                </nav>
                            </div>
                            <div class="col-md-4 col-sm-4 mb-24pt mb-md-0 d-flex align-items-center">
                            </div>
                            <div class="col-md-6 text-md-right">
                                <p class="mb-8pt d-flex align-items-md-center justify-content-md-end">
                                    <a href="help-center.html" class="text-white-70 text-underline mr-16pt">Centro de ayuda</a>
                                    <a href="terms-of-service.html" class="text-white-70 text-underline mr-16pt">Términos de servicio</a>
                                    <a href="privacy-policy.html" class="text-white-70 text-underline">Política de privacidad</a>
                                </p>
                                <p class="text-white-50 mb-0">Copyright 2021 &copy; Todos los derechos reservados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    <!-- DRAWER (MOBILE NAVBAR) -->
    <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-dark sidebar-left" data-perfect-scrollbar>
                <div class="sidebar-p-a sidebar-b-b sidebar-m-b pt-0">

                    <!-- Brand -->
                    <a href="index.html" class="sidebar-brand">
                        <img class="sidebar-brand-icon" src="assets/images/logo/image.png" width="40" alt="Tutorio">
                        <span>ForeverLearn</span>
                    </a>
                    <!-- // END Brand -->

                    <!-- Search -->
                    <form action="library-filters.html" class="search-form search-form--black">
                        <input type="text" class="form-control" placeholder="Búsqueda">
                        <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                    </form>

                </div>

                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="library.html">Cursos</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="login.html">Iniciar sesión</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- // END drawer -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>

</body>

</html>