{{>header}}

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content page-content ">

            <div class="bg-gradient-primary border-bottom-white py-32pt">
                <div class="container d-flex flex-column flex-md-row align-items-center text-center text-md-left">
                    <a href="/user-profile" class="navbar-brand">
                        <img class="navbar-brand-icon mr-0 mr-md-8pt" src="assets/images/illustration/user/128/w.svg" width="75" alt="Tutorio">
                    </a>
                    <div class="flex mb-32pt mb-md-0">
                        <h2 class="text-white mb-0">{{user.name}}</h2>
                        <p class="lead text-white-50 d-flex align-items-center">Usuario</p>
                    </div>
                    <a href="/user-profile" class="btn btn-outline-white">Ver perfil</a>
                </div>
            </div>

            <div class="container page__container">
                <form action="/update-profile-information" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-9">

                            <div class="page-section">
                                <h4>Información de perfil</h4>
                                <div class="list-group list-group-form">
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Tu foto</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <a href="" class="media-left mr-16pt">
                                                    <img src="/user/{{user.id}}/profilePhoto" alt="people" width="56" class="rounded-circle" />
                                                </a>
                                                <div class="media-body">
                                                    <div class="custom-file">
                                                        <input name="image" type="file" class="custom-file-input" id="inputGroupFile01" accept="image/png, image/jpeg">
                                                        <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Descripción</label>
                                            <div class="col-sm-9">
                                                {{#hasDescription}}
                                                <textarea rows="3" class="form-control" name="description" placeholder="{{user.description}}"></textarea>
                                                {{/hasDescription}}
                                                {{^hasDescription}}
                                                <textarea rows="3" class="form-control" name="description" placeholder="Introduce tu descripción"></textarea>
                                                {{/hasDescription}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Contacto</label>
                                            <div class="col-sm-9">
                                                {{#hasContact}}
                                                <textarea rows="3" class="form-control" name="contact" placeholder="{{user.contact}}"></textarea>
                                                {{/hasContact}}
                                                {{^hasContact}}
                                                <textarea rows="3" class="form-control" name="contact" placeholder="Introduce tu información de contacto"></textarea>
                                                {{/hasContact}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Facebook</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="text-accent fab fa-facebook-square font-size-24pt mr-8pt"></div>

                                                <div class="media-body">
                                                    <input type="text" name="facebook" class="form-control" value="{{user.facebook}}" placeholder="Introduce tu nombre de usuario de facebook">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Twitter</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="text-accent fab fa-twitter-square font-size-24pt mr-8pt"></div>

                                                <div class="media-body">
                                                    <input type="text" name="twitter" class="form-control" value="{{user.twitter}}" placeholder="Introduce tu nombre de usuario de Twitter">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-sm-3">Youtube</label>
                                            <div class="col-sm-9 media align-items-center">
                                                <div class="text-accent fab fa-youtube-square font-size-24pt mr-8pt"></div>

                                                <div class="media-body">
                                                    <input type="text" name="youtube" class="form-control" value="{{user.youtube}}" placeholder="Introduce el nombre de tu canal de Youtube">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 page-nav">
                            <div class="page-section pt-lg-112pt">
                                <nav class="nav page-nav__menu">
                                    <a class="nav-link" href="/user-edit-account">Información básica</a>
                                    <a class="nav-link active" href="/user-edit-account-profile">Información de perfil</a>
                                    <a class="nav-link" href="/user-edit-account-password">Cambiar contraseña</a>
                                    <a class="nav-link" href="/user-delete-account">Eliminar cuenta</a>
                                </nav>
                                <div class="page-nav__content">
                                    <button type="submit" class="btn btn-accent">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {{>footer}}

        </div>
        <!-- // END Header Layout Content -->

    </div>
    <!-- // END Header Layout -->

    {{>drawer}}

    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="assets/vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="assets/vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="assets/vendor/material-design-kit.js"></script>

    <!-- Fix Footer -->
    <script src="assets/vendor/fix-footer.js"></script>

    <!-- Chart.js -->
    <script src="assets/vendor/Chart.min.js"></script>

    <!-- App JS -->
    <script src="assets/js/app.js"></script>

    <!-- Highlight.js -->
    <script src="assets/js/hljs.js"></script>

    <!-- App Settings (safe to remove) -->
    <script src="assets/js/app-settings.js"></script>




</body>

</html>